//SASS
$minW: 200px;
$colorPrimary: rgb(70, 206, 42);
$colorSecundary: rgb(50, 156, 23);
$loadingBGColors: #272727, #195679, #00245a, #1d1d1d;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    min-width: $minW;
}
body {
    min-width: $minW;
    min-height: 100vh;
    font-family: sans-serif;
    background-size: 400% 400%;
    animation: preLoaderBG 15s ease-in-out infinite;
}
.bgRedirect {
  background-image: linear-gradient(-45deg, $loadingBGColors);
}
.bgError {
  background-image: linear-gradient(-45deg, #e54a00, #ad0202, #a51f1f, #ff5454);
}


@keyframes preLoaderBG {
	0%, 100% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
}

a {
    text-decoration: none;
    color: whitesmoke;
    transition: opacity .25s;
}
a:hover {
    opacity: .5;
}
.box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: clamp(100px, 80%, 400px);
    transform: translate(-50%, -50%);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: whitesmoke;
    text-align: center;
}
.logo {
    height: auto;
    img {
        width: 100%;
        height: auto;
    }
    .link {
        text-transform: uppercase;
        font-size: 35px;
        font-weight: bold;
        line-height: 35px;
    }
}
.status {
    font-size: 15px;
    text-align: center;
    background-image: linear-gradient(160deg, $colorPrimary, $colorSecundary);
    border-radius: 1em;
    padding: 12px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .title {
      font-weight: bold;
      text-transform: uppercase;
    }
}
.error {
    background-image: linear-gradient(160deg, rgb(238, 238, 238), rgb(206, 206, 206));
    color: red;
}